:root {
  --main-color: #212121;
  --logo-color: #000000;
  --phone-color: #757575;
  --primary-color: #ffffff;
  --accent-color: #2196f3;
  --hero-color: #2f303a;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --adress-color:color: rgba(255, 255, 255, 0.6);
  /* Sorry */
}
body {
  font-family: 'Roboto', 'Times New Roman', 'Verdana', 'Tahoma', sans-serif;
  background-color: var(--primary-color);
  color: var(--main-color);
}
/*  */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo > .primary {
  color: var(--accent-color);
}
.logo > .secondary {
  color: var(--logo-color);
}
.menu-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--accent-color);
}
.contact-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--phone-color);
}
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--hero-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.hero .button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  /* тут буде абсолютне позиоціноювання */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features p {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--phone-color);
}
.activity > .title,
.team > .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.button {
  cursor: pointer;
}
.teammate .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

}
.teammate .post {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--phone-color);
}
.footer {
  background-color: var(--hero-color);
}
.contact .link {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color:var(--adress-color);
}
.contact >.list-item{
  color:var(--primary-color);
}
.secondary.second{
  color:var(--primary-color);
}
